{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <p class="addC">Ajouter votre entreprise</p>

    {{ include('company/_form.html.twig') }}

{% endblock %}