body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  .bg_menu{
  display: none;
    .close{
      cursor: pointer;
    }
    nav{
      li{
        padding: 10vw 0vw 0vw 0vw;
      }
    }
  }
  .deco{
    height: 60vw;
    border: solid 1px #F9F8F6;
    position: absolute;
    z-index: -99;
    margin-left: 25.27vw;
  }
  .deco2{
    height: 60vw;
    border: solid 1px #F9F8F6;
    position: absolute;
    z-index: -99;
    margin-left: 50.53vw;
  }
  .deco3{
    height: 60vw;
    border: solid 1px #F9F8F6;
    position: absolute;
    z-index: -99;
    margin-left: 75.8vw;
  }
  header{
    font-size: 1.38vw;
    padding: 0vw 8vw 0vw 8vw;
    .header_connection{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      a{
        text-decoration: none;
        padding: 1vw 1.4vw 0vw 0vw;
        color: black;
      }
    }
    .header_topBar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .header_logo{
        width: 6.18vw;
      }
      nav{
        padding: 3vw 1.4vw 0vw 1.4vw;
        li{
          display: inline;
          padding: 0vw 1vw 0vw 1vw;
          cursor: pointer;
          a{
            text-decoration: none;
            color: black
          }
        }
        .header_search{
          width: 1.94vw;
        }
      }
      .header_bg{
        display: none;
      }
    }
  }

  #nom{
    margin-top: 10vw;
    padding: 0vw 15vw 0vw 17vw;
    a{
      font-size: 1.38vw;
      text-decoration: none;
      color: #2651F5;
    }
    h1{
      font-size: 4vw;
      font-weight: lighter;
      margin-top: 1.86vw;
    }
    p{
      margin-top: 3.8vw;
      font-size: 2.5vw;
    }
    .nom_discover{
      margin-top: 5vw;
      h3{
        font-size: 1.38vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        div{
          margin-top: 1.6vw;
          img{
            width: 3vw;
          }
        }
      }
    }
  }

  #presentation{
    height: 53.61vw;
    background-color: #F9F8F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .presentation_txt{
      padding: 8.53vw 0vw 8.53vw 3.33vw;
    }
    .presentation_txt h2{
      margin-left: 1.33vw;
    }
    .presentation_txt_highlight{
      width: 12vw;
      margin-left: 1.84vw;
    }
  }

  .presentation_feature{
    margin-left: 50%;
    margin-top: -2.4vw;
    position: absolute;
    height: 2.15vw;
    border: solid 1px #004BDD;
  }
  .presentation_feature2{
    margin-left: 50%;
    position: absolute;
    height: 2.15vw;
    border: solid 1px #D8D8D8;
  }

  #advantages{
    height: 32.43vw;
    .section_h{
      margin-left: 32vw;
      padding-top: 6.8vw;
    }
    .advantages_txt_highlight{
      width: 11vw;
      margin-left: 32.3vw;
    }
    .section_p{
      padding-top:4.4vw;
    }
  }

  .advantages_feature{
    margin-left: 50%;
    margin-top: -2.4vw;
    position: absolute;
    height: 2.15vw;
    border: solid 1px #DB632D;
  }
  .advantages_feature2{
    margin-left: 50%;
    position: absolute;
    height: 2.15vw;
    border: solid 1px white;
  }

  #ecology{
    height: 53.61vw;
    background-color: #F9F8F6;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .section_illustration{
      padding-top: 13vw;
    }
    .ecology_presentation{
      margin-top: 7vw;
    }
    .ecology_txt_highlight{
      width: 9.23vw;
      margin-left: 0vw;
    }
    .section_p{
      margin-top: 4.23vw;
      padding-right: 3.33vw;
    }
  }

  .ecology_feature{
    margin-left: 50%;
    margin-top: -2.4vw;
    position: absolute;
    height: 2.15vw;
    border: solid 1px black;
  }
  .ecology_feature2{
    margin-left: 50%;
    position: absolute;
    height: 2.15vw;
    border: solid 1px #004BDD;
  }

  #automation{
    height: 35vw;
    .section_h{
      margin-left: 30vw;
      padding-top: 7vw;
    }
    .automation_txt_highlight{
      width: 13vw;
      margin-left: 30.2vw;
    }
    .section_p{
      margin-top: 6.6vw;
    }
  }

  .automation_feature{
    margin-left: 50%;
    margin-top: -2.4vw;
    position: absolute;
    height: 2.15vw;
    border: solid 1px #004BDD;
  }
  .automation_feature2{
    margin-left: 50%;
    position: absolute;
    height: 2.15vw;
    border: solid 1px #D8D8D8;
  }

  #generation{
    height: 53.61vw;
    background-color: #F9F8F6;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    .section_illustration{
      padding: 5vw 12vw 0vw 0vw;
    }
    .generation_presentation{
      margin-left: -20vw;
      position: absolute;
    }
    .generation_presentation h2{
      margin-top: 13vw;
    }
    .generation_txt_highlight{
      width: 20vw;
      margin-left: 0.5vw;
    }
    .section_p{
      margin-top: 16.7vw;
      margin-left: 10vw;
      width: 44vw;
    }
  }

  footer{
    margin-top: 13.2vw;
    height: 30vw;
    background-color: #F9F8F6;
    .footer_container{
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
      padding-top: 4.58vw;
      .footer_linkContainer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        a{
          text-decoration: none;
          color: black;
          padding: 0.8vw 0vw 2vw 0vw;
        }
      }
      .footer_otherLinksContainer{
        width: 9vw;
        img{
          width: 8.125vw;
        }
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
    .footer_link_networks{
      margin-left: 63vw;
      a img{
        width: 2.77vw;
      }
    }
  }
}
