body{
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  .bg_menu{
    list-style: none;
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    .close{
      cursor: pointer;
    }
    nav{
      margin-left: 40%;
      li{
        padding: 10vw 0vw 0vw 0vw;
        a{
          text-decoration: none;
          color: black;
          font-size: 5vw;
        }
      }
    }
  }
  .deco{
    height: 185vw;
    border: solid 2px #F9F8F6;
    position: absolute;
    z-index: -99;
    margin-left: 34.13vw;
  }
  .deco2{
    height: 185vw;
    border: solid 2px #F9F8F6;
    position: absolute;
    z-index: -99;
    margin-left: 68.26vw;
  }
  header{
    padding: 6.13vw 9.06vw 0vw 8.8vw;
    .header_topBar{
      display: flex;
      justify-content: space-between;
    }
    .header_connection{
      display: none;
    }
    .header_logo{
      width: 15.4vw;
    }
    nav{
      display: none;
    }
    .header_bg{
      margin-top: 1.6vw;
      width: 7.2vw;
      display: block;
    }
  }

  #nom{
    margin-top: 30.6vw;
    a{
      font-size: 4.26vw;
      text-decoration: none;
      color: #2651F5;
    }
    h1{
      font-size: 9.3vw;
      font-weight: lighter;
      margin-top: 1.86vw;
    }
    p{
      margin-top: 15.73vw;
      font-size: 4.26vw;
    }
    .nom_discover{
      margin-top: 32.86vw;
      h3{
        font-size: 3.46vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        div{
          margin-top: 5.06vw;
        }
      }
    }
  }

  #presentation{
    height: 169.86666666666667vw;
    background-color: #F9F8F6;
    .presentation_txt h2{
      margin-top: 0;
      margin-left: 1.33vw;
    }
    .presentation_txt_highlight{
      width: 36.53vw;
      margin-left: 1.06vw;
    }
    .deco{
      margin: 0 auto;

    }
  }

  .presentation_feature{
    margin-left: 50%;
    margin-top: -7.2vw;
    position: absolute;
    height: 7.2vw;
    border: solid 2px #004BDD;
  }
  .presentation_feature2{
    margin-left: 50%;
    position: absolute;
    height: 7.2vw;
    border: solid 2px #D8D8D8;
  }

  #advantages{
    height: 106.4vw;
    .section_h{
      margin-left: 20vw;
      padding-top: 11.46vw;
    }
    .advantages_txt_highlight{
      width: 29.86vw;
      margin-left: 19.7vw;
    }
  }

  .advantages_feature{
    margin-left: 50%;
    margin-top: -7.2vw;
    position: absolute;
    height: 7.2vw;
    border: solid 2px #DB632D;
  }
  .advantages_feature2{
    margin-left: 50%;
    position: absolute;
    height: 7.2vw;
    border: solid 2px white;
  }

  #ecology{
    height: 183.2vw;
    background-color: #F9F8F6;
    .section_illustration{
      padding-top: 17.06vw;
    }
    .ecology_presentation h2{
    margin-top: 0;
    }
    .ecology_txt_highlight{
      width: 22.66vw;
      margin-left: 1.06vw;
    }
    .section_p{
      margin-top: 5.33vw;
    }
  }

  .ecology_feature{
    margin-left: 50%;
    margin-top: -7.2vw;
    position: absolute;
    height: 7.2vw;
    border: solid 2px black;
  }
  .ecology_feature2{
    margin-left: 50%;
    position: absolute;
    height: 7.2vw;
    border: solid 2px #004BDD;
  }

  #automation{
    height: 119.46vw;
    .section_h{
      margin-left: 20vw;
      padding-top: 22.92vw;
    }
    .automation_txt_highlight{
      width: 34.4vw;
      margin-left: 21.2vw;
    }
    .section_p{
      margin-top: 9.06vw;
    }
  }

  .automation_feature{
    margin-left: 50%;
    margin-top: -7.2vw;
    position: absolute;
    height: 7.2vw;
    border: solid 2px #004BDD;
  }
  .automation_feature2{
    margin-left: 50%;
    position: absolute;
    height: 7.2vw;
    border: solid 2px #D8D8D8;
  }

  #generation{
    height: 159.46vw;
    background-color: #F9F8F6;
    .section_illustration{
      padding-top: 17.06vw;
    }
    .generation_txt_highlight{
      width: 51.46vw;
      margin-left: 1.03vw;
    }
    .section_p{
      margin-top: 6.4vw;
    }
  }

  footer{
    background-color: #F9F8F6;
    margin-top: 14.13vw;
    height: 93.46vw;
    .footer_linkContainer{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-top:5.6vw;
      a{
        text-decoration: none;
        padding-left: 23.2vw;
        color: #1A1A1A;
        padding-top: 3.6vw;
      }
    }
    .footer_otherLinksContainer{
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 5.33vw 19.46vw 0vw 19.46vw;
      a{
        text-decoration: none;
        padding-right: 23.2vw;
        color: #1A1A1A;
        padding-top: 5.6vw;
      }
      div img{
        width: 20.53vw;
        height: 19.2vw;
        margin-top: 5vw;
      }
    }
    .footer_link_networks{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 33.33vw;
      margin: 0 auto;
      margin-top: 9.33vw;
    }
  }
}
